<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">&nbsp;Home</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" ngbDropdown>
          <a [routerLink]="" class="nav-link dropdown-toggle" id="dd1" role="button" ngbDropdownToggle>Dropdown</a>
          <div class="dropdown-menu" aria-labelledby="dd1" ngbDropdownMenu>
            <a class="dropdown-item" [routerLink]="">Item 1</a>
            <a class="dropdown-item" [routerLink]="">Item 2</a>
            <a class="dropdown-item" [routerLink]="">Item 3</a>
            <a class="dropdown-item" [routerLink]="">Item 4</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>